
.add-product form input,
textarea {
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  padding: 10px;
  outline: none;
  width: 100%;
}
.add-product form input:focus,
textarea:focus {
  border: 1px solid #251d58;
}
