:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  .pbody {
    background: #F9FAFB;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  .card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }
/*   
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
        background: var(--gradient) !important;
    background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
  }
 */


  .product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
  .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
  .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}