.box-shadow{
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


.heading-main {
  text-transform: uppercase;
  color: #1f1632;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}